*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
body{
    background: #ffffff;
    background-image: url(whitewall.jpg);
  padding: 0 10px;
  height: 100vh;
}
.show-btn{

  background: #fff;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 500;
  color: #3498db;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0,0,0,0);
}
.show-btn, .container{
  position: absolute;
  top: 52%;
  left: 48%;
  transform: translate(-48%, -22%);
}

.container{
  display: none;
  background: #fff;
  margin:auto;
  width: 950px;
  height: 1350px;
  padding: 50px;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  
}
#show:checked ~ .container{
  display: block;
}
.container .close-btn{
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 18px;
  cursor: pointer;
}
.container .text{
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.container form{
  margin-top: -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
input[type="text"]{
  height: 30px;
  width: 45%;
}
.container form .data{
 
  height: 40px;
  width: 45%;
  margin: 25px 10px;
  text-align: center;
}
.category{
  align-items: center;
}
.container form .category{
 padding: 2px;
 margin: 5px;
}
.container form .radio{
  height: 45px;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
form .data input{
  
  height: 100%;
  width: 100%;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid silver;
}

form .btn{
  margin: 30px 0;
  height: 45px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
form .btn .inner {
  height: 50%;
  width: 300%;
  position: absolute;
  left: -100%;
  z-index: -1;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  transition: all 0.4s;
}
form .btn button{
  width: 100%;
  padding: 8px 10px;
 font-size: 15px; 
 border: 0px;
 background:  #e2e2e1;
 color: #000;
 cursor: pointer;
 border-radius: 3px;
 outline: none;
}

form .declaration{
  flex-direction: row;
}
.topnav a {
  float: left;
  color: #0000;
  text-align: center;
  padding: 21px 24px;
  margin-left: 24px;
  text-decoration: none;
  font-size: 17px;
}
.logo img {
  position:absolute;
  margin-top: 0px;
  margin-left: 1px;
  margin-bottom: 90px;
  margin-right: 90px;
  
}
nav a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color:#f2f2f2;
  text-align: center;
}

  .topnav {
    background-color: rgb(35, 37, 36);
    overflow: hidden;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }